.categories {
    background-color: skyblue;
    text-align: center;
    padding: 30px;
    color: white;
}


button {
  font-size: 30px;
  background-color: skyblue;
  color: grey;
  border: none;
  border-radius: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  position: relative;
    left: 800px;
    top: 190px;
}



body {
  background-color: skyblue;
}

.custom-search {
  position: relative;
  width: 300px;
}
.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  position:absolute;
  left: 500px;
  top:200px;

}
.custom-search-botton {
  position: relative;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #d1095e;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
  color:black;
}

.logo{
  color: var(--text-color);
  font-size: 50px;
  font-weight: 600;
  cursor: pointer;
  position:absolute;
  left: 610px;
}
em { 
  color: var(--main-color);
  font-style: normal;
}
